<header>
    <div class="logo-container">
       <a href="/">Prello</a>
    </div>
    <nav>
        <a href="/boards">Boards</a>
        <a href="/">About</a>
        <div class="profile-pic"></div>
    </nav>
</header>
